.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background: lightgoldenrodyellow;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.assist {
  font-size: 12px;
  color: grey;
}
